@import "../../../../../popup/src/common/variables";

.app-stats {
    background-color: $color-primary;
    display: flex;
    min-height: 100vh;

    &__content {
        margin: 0 auto;
        position: relative;
        width: 860px;
    }

    &__buttons-box {
      position: absolute;
      left: -58px;
      top: 60px;
    }

    &__screen-btn {
        background-color: $color-dark-gray;
        width: 38px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        cursor: pointer;
        fill: rgba(255,255,255, .7);
        border: none;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        border-radius: 3px;

        &[disabled] {
          opacity: 0.7;
        }

        & > svg {
          width: 16px;
          height: 16px;
        }

        &:not([disabled]):hover {
          background-color: $color-gray;
        }

        &:not([disabled]):active {
          fill: #333;
          background-color: $color-light;
        }
    }
}
