<div class="app-extraction-norm" [formGroup]="form" *ngIf="form">
  <div class="app-extraction-norm__group">
    <img src="/stats/assets/barrel.png">
    <input class="app-extraction-norm__input" formControlName="kills_barrel">
  </div>
  <div class="app-extraction-norm__group">
    <img src="/stats/assets/sulfur.png">
    <input class="app-extraction-norm__input" formControlName="harvests_sulfur_ore">
  </div>
  <div class="app-extraction-norm__group">
    <img src="/stats/assets/metal.png">
    <input class="app-extraction-norm__input" formControlName="harvests_metal_ore">
  </div>
  <div class="app-extraction-norm__group">
    <img src="/stats/assets/stone.png">
    <input class="app-extraction-norm__input" formControlName="harvests_stones">
  </div>
  <div class="app-extraction-norm__group">
    <img src="/stats/assets/wood.png">
    <input class="app-extraction-norm__input" formControlName="harvests_wood">
  </div>
  <div class="app-extraction-norm__group">
    <img src="/stats/assets/leather.png">
    <input class="app-extraction-norm__input" formControlName="harvests_leather">
  </div>
  <div class="app-extraction-norm__group">
    <img src="/stats/assets/cloth.png">
    <input class="app-extraction-norm__input" formControlName="harvests_cloth">
  </div>
  <div class="app-extraction-norm__group">
    <img src="/stats/assets/fat.png">
    <input class="app-extraction-norm__input" formControlName="harvests_fat_animal">
  </div>
</div>

